
#Ignore environment variables file
.env                                                                                                                                                                

# Ignore virtual environment
venv/
notes.txt